{% extends 'agendamento/step_base.html' %}
{% block content %}
<section class="step">
    <div class="step-icon">
        <i data-lucide="user"></i>
    </div>
    <h2>Escolha seu barbeiro</h2>
    <form method="post">
        {% csrf_token %}
        <div class="options">
            {% for b in barbers %}
            <label class="option-card">
                <input type="radio" name="barber" value="{{ b }}" required />
                <span class="option-title">{{ b }}</span>
            </label>
            {% endfor %}
        </div>
    </form>
</section>
{% endblock %}